
.nave{
    border-radius: 35px 35px 0px 0px;
    padding: 20px clamp(30px, 5vw, 70px) 20px clamp(30px, 5vw, 70px);

    display: flex;
    justify-content: space-around;
    background-color: #99582A;
    height: 10vh;
    max-width: clamp(100%, 100vw, 100%);
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    align-items: center;
    font-weight: 200;
    font-size: clamp(0.7rem, 2vw, 1rem);
    
}
a:hover{
    border-bottom: 0.1px solid white;
    transform: scale(1.02); 
    
}

a{
    transition-duration: 0.1s;
}
svg{
    transition-duration: 0.2s;
}
svg:hover{
    transform: scale(1.04); 

}
#home{
    font-weight: 700;
    margin-left: 50px;
}
.nave #spanNav{
    font-family: "Montez", cursive;
    font-weight: 400;
    color: white;
    font-size: 1.5em;
}