/* Ajuste para tablets */
@media (min-width: 769px) and (max-width: 1024px){
   
    .escrita{
        font-size: 2em;
    }
    .section1{
        height: 70vh;
    }
    .box1{
        padding: 50px 0px 10px 30px;
        width: 50%;
    }
    .rasgado{
        display: none;
    }
    .bloco-escrita{
        margin-top: 10px;
    }
    .section2{
    
        height: 60vh; 
    }
    .fundo-marrom{
       
        height: 60vh; 
        padding-bottom: 10%;
 
    }
     .bloco-escrita h2{
     font-size: 1.3em;
    }
    .bloco-escrita p{
        font-size: 0.9em;
       }
       .bag02{
      
        margin-top: 290px;
     
    }
    .introdution{
        padding-top: 20px;
        }
        .box4{
        
            flex-direction: column;
            z-index: 5;
            align-items: center;
            
        
        }
        .section5{
            display: none;
           }
           .introdution6{
            margin-right: 1%;
            margin-left: 1%;
        
           }
           .partemarrom{
            margin-top: 200px;
            clip-path: none;
            box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.3); /* Sombra no topo */
          
          
           }
           .box5{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .botao-amarelo{
            display: none;
        }
           
       
     
    
}



@media (max-width: 768px) {
    #home{
      
        margin-left: 10px;
    }
    svg{
        width: 20px;
        height: 20px;
    }
    .nave{
       
        font-size: 0.7em;
    }
    #home{
        display: none;
    }
    .section1{
        height: 85vh;
    }
    .box1{
        padding: 30px 0px 10px 30px;
        width: 50%;
    }
    .escrita{
        font-size: 1.5em;
     

      
    }
    .paragrafo{
        margin-top: 15px;
        line-height: 20px;
      
    }
    .rasgado{
        display: none;
    }
    .section2{
    
        height: 68vh; 
    }
    .box2{
        flex-direction: column;
        
    }
    .bloco-escrita{
        text-align: center;
        margin-left: 4%;
        margin-right: 4%;
        max-width: 100%;
    }
  
    .section3{
        padding-top: 500px;

    }
    .fundo-marrom{
      
        height: 90vh; /* Altura do fundo claro */
        padding-bottom: 10%;
    }
    .box-bolsa{
        display: none;
    }
    .box-escrita-section3{
    
    
        display: flex;
        flex-direction: column;
        padding-right: 5%;
        max-width: 88%;
        padding-bottom: 10%;
    }
    .box-escrita-section3 h3{
        
        margin-bottom: 15px;
    
        font-size: 1.5em;
       
    }
    .box-escrita-section3 p{
        line-height: 2em;
        font-size: 0.9em;
     
      
        
    }
    .bag02{
      
        margin-top: 290px;
     
    }
    .introdution{
        padding-top: 20px;
        }
        .box4{
        
            flex-direction: column;
            z-index: 5;
            align-items: center;
            
        
        }
        .section5{
            display: none;
           }
           .introdution6{
            margin-right: 1%;
            margin-left: 1%;
        
           }
           .partemarrom{
            margin-top: 150%;
            clip-path: none;
            box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.3); /* Sombra no topo */
          
           }
           .box5{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .botao-amarelo{
            display: none;
        }
             
         
          
    
}