.section2{
    max-width: clamp(200px, 100vw, 1400px);
    background-color: #fffbf0;
    height: 100vh; /* Ocupa toda a altura da tela */
}
.box2{
    padding-top: 100px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.bloco-escrita{
    color: #432818;
    margin-top: 45px;
    max-width: 500px;
    font-family: "Playfair Display", serif;
    
}
.foto{
    z-index: 2;
   
}
.bloco-escrita h2{
    font-size: 2em;
}
.bloco-escrita p{
    font-family: "Poppins", sans-serif;
    line-height: 25px;
    word-spacing: 3px;
}