.section5{
    max-width: clamp(200px, 100vw, 1400px);
    background-color: #fffbf0;
    
    height: 100vh; /* Ocupa toda a altura da tela */
}
.video-fake{
    max-width: clamp(200px, 100vw, 1400px);
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}