.section6{
    max-width: clamp(200px, 100vw, 1400px);
    background-color: #fffbf0;
    height: 100vh; /* Ocupa toda a altura da tela */
  
    
}

.partemarrom{

    background-color: #8B4513; /* Cor marrom para o fundo */
      /* Garante que o container cresça conforme o conteúdo */
    clip-path: polygon(50% -20%, 110% 60%, 100% 100%, 0% 100%, 0% 45%);
    align-items: center;
    z-index: 4;
    overflow: hidden;
    padding-bottom: 50px;
    
}

.introdution6{
    text-align: center;
    padding-top: 200px;
    color: #432818;
}
.introdution6 h1{
    font-weight: 300;
    font-family: "Playfair Display", serif;
    font-size: 3em;
    color: #fffbf0;
}
.introdution6 p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fffbf0;

}
.box5{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.itens:hover{
 
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  
}
.itens{
    background-color: #FFE6A7;
    width: 280px;
    border-radius: 25px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: normal;
    padding-top: 20px;
    flex-direction: column; /* Alinha os elementos na vertical */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Suaviza o efeito */
}

.itens h3{
    color: #432818;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
}
.itens p{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 500;
    color: rgb(46, 45, 45);
}

.botao-amarelo {
   
    background-color: #FFD700; /* Cor amarela */
    color: black;
    height: 100px;
    border: none;
    text-align: center;
    width: 100px;
    display: flex;
    align-self: center;
    border-radius: 35%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}


.botao-amarelo svg{
    align-self: center;
    
}